<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BotToken" value="DISCORDBOTTOKENHERE" />
        <add key="SteamUser" value="user" />
        <add key="SteamPass" value="pass" />
    </appSettings>
</configuration>