<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BotToken" value="DISCORDBOTTOKENHERE" />
        <add key="SteamUser" value="user" />
        <add key="SteamPass" value="pass" />
        <!-- This allows old style !tts commands etc -->
        <add key="EnableMessageContent" value="true" />
        <!-- Optional experimental coqui tts support -->
        <add key="ffmpeg" value="C:\tts\Scripts\ffmpeg.exe" />
        <add key="coquitts" value="C:\tts\Scripts\tts.exe" />
    </appSettings>
</configuration>